name: Deploy

on:
  push:
    branches: [ main ]
    paths-ignore: 'README.md'
  workflow_dispatch:
   
env:
  GitHubMail: "root9876+2@protonmail.com"
  GitHubName: "fumkingo87" 
  Branch: "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Set Git Configs & Secrets
        run: |
          git config --global user.email ${GitHubMail}
          git config --global user.name ${GitHubName}
          git config --global credential.helper store
          echo "https://${GitHubName}:${{ secrets.GH_TOKEN }}@github.com" > ~/.git-credentials

      - name: Clone The Secret Mirror Repository
        run: |
          git clone https://${{ secrets.GH_TOKEN }}@github.com/${{ secrets.REMPO }} -b ${Branch} source

      - name: Compile The Mirroring Docker Container
        run: |
          sudo apt-get -y update && DEBIAN_FRONTEND="noninteractive" \
          sudo apt-get install -y python3 python3-pip aria2 qbittorrent-nox \
          tzdata p7zip-full p7zip-rar xz-utils curl pv jq ffmpeg \
          locales git unzip rtmpdump libmagic-dev libcurl4-openssl-dev \
          libssl-dev libc-ares-dev libsodium-dev libcrypto++-dev \
          libsqlite3-dev libfreeimage-dev libpq-dev libffi-dev \
          && locale-gen en_US.UTF-8

      - name: running Docker
        timeout-minutes: 340
        continue-on-error: true          
        run: |
           parallel -u ::: './start.sh' 'git clone https://github.com/${GITHUB_REPOSITORY} clean && cd clean && sudo bash cleanup.sh'

      - name: Loop Workflow
        continue-on-error: true
        run: |
          git clone https://${{ secrets.GH_TOKEN }}@github.com/${GITHUB_REPOSITORY} loop
          cd loop || exit 1
          echo $(( RANDOM - ( RANDOM % RANDOM ) )) > looper.txt
          git add looper.txt
          git commit -m "Workflow : Loop"
          git push -q https://${{ secrets.GH_TOKEN }}@github.com/${GITHUB_REPOSITORY} HEAD:main

